<em class="red">...and for showing you more complex example</em>

<h1 class="fragment">Access Control List</h1>

<em class="fragment blue">This component interacts with others components</em>

<ol>
  <li class="fragment">It should receive current user</li>
  <li class="fragment">Should read some configuration</li>
  <li class="fragment">Ensure that current user have right permission</li>
  <li class="fragment">And it should <span class="green">Pass</span> or <span class="red">Deny</span> an access</li>
</ol>

<p class="fragment">Example: <a href="https://github.com/zendframework/zend-permissions-acl">github.com/zendframework/zend-permissions-acl</a></p>
