<h1 class="orange">Service Container</h1>

<h4 class="fragment blue">or Service Manager</h4>

<ul>
  <li class="fragment">It sticks together all services</li>
  <li class="fragment">Usually looks like Singleton pattern (immutable array)</li>
  <li class="fragment">Sometimes responsible for creating services</li>
  <li class="fragment">Right now most popular way to initialize services</li>
</ul>

<p class="fragment">Example: <a href="https://github.com/silexphp/Pimple">github.com/silexphp/Pimple</a></p>
