<h1>Entry point</h1>

<em class="fragment blue">Not the component, but first and easiest part of framework</em>

<p class="fragment">It can be two ways</p>

<table>
  <thead class="fragment blue">
  <tr>
    <th>Server push</th>
    <th>Script pull</th>
  </tr>
  </thead>
  <tbody>
  <tr class="fragment">
    <td>index.php</td>
    <td>server.php</td>
  </tr>
  <tr class="fragment">
    <td>Short life cycle</td>
    <td>Infinite loop</td>
  </tr>
  <tr class="fragment">
    <td>Easy to use</td>
    <td>More performance</td>
  </tr>
  </tbody>
</table>
