<table class="full-width">
  <thead>
  <tr>
    <th colspan="2">Component</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Entry point</td>
    <td>Usually <code>index.php</code></td>
  </tr>
  <tr>
    <td>Router</td>
    <td>Second step processing</td>
  </tr>
  <tr>
    <td>Controller</td>
    <td>Heart of interaction</td>
  </tr>
  <tr>
    <td>Configuration</td>
    <td>Provides tuning</td>
  </tr>
  <tr>
    <td>Renderer</td>
    <td>The front view</td>
  </tr>
  <tr>
    <td><abbr title="Database Abstraction Level">DBAL</abbr></td>
    <td>Data storage</td>
  </tr>
  <tr>
    <td>Service container</td>
    <td>Glue for components</td>
  </tr>
  <tr>
    <td><abbr title="Access Control Level">ACL</abbr></td>
    <td>Permissions</td>
  </tr>
  </tbody>
</table>

<em class="fragment red">&ast; it's not the full list, we'll talk only about these ones</em>
