<h1 class="cyan">Components - is ...</h1>
<h1 class="fragment red">Growing complexity</h1>

<p class="violet">
  <small>
    <nobr>
      <em class="fragment">Access</em>
      <em class="fragment">Action</em>
      <em class="fragment">Ajax</em>
      <em class="fragment">Annotation</em>
      <em class="fragment">Archiver</em>
      <em class="fragment">Asset</em>
      <em class="fragment">Authentication</em>
      <em class="fragment">Batch</em>
      <em class="fragment">Block</em>
      <em class="fragment">Breadcrumb</em>
      <em class="fragment">Cache</em>
    </nobr>
    <br/>
    <em class="fragment">
      CacheDecorator
      Command
      Composer
      Condition
      Config
      Controller
      Database
      Datetime
      DependencyInjection
      Diff
      Display
      Entity
      EventSubscriber
      Executable
      Extension
      Field
      File
      FileTransfer
    </em>
    <br/>
    <em class="fragment">
      Flood
      Form
      Http
      Image
      ImageToolkit
      Installer
      KeyValueStore
      Language
      Locale
      Lock
      Logger
      Mail
      Menu
      Operations
      PageCache
      ParamConverter
      Password
      Path
      PathProcessor
      PhpStorage
      Plugin
      ProxyBuilder
      Queue
      Render
      RouteProcessor
      Routing
      Session
      Site
      StackMiddleware
      State
      StreamWrapper
      StringTranslation
      Template
      Test
      Theme
      Transliteration
      TypedData
      Update
      Updater
      Utility
      Validation
    </em>
  </small>
</p>

<small class="fragment blue">* List of Drupal 8 components <a
  href="https://www.drupal.org/docs/8/core/basic-structure-of-drupal-8">https://www.drupal.org/docs/8/core/basic-structure-of-drupal-8</a>
</small>
